@model IEnumerable<HotelManagementSystem.ViewModel.AdminViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",new { }, new { @class = "btn btn-xs btn-primary" })
    @Html.ActionLink("Back", "ProfileOfAdmin",new { }, new { @class = "btn btn-xs btn-danger" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminPassword)
        </td>
        
    </tr>
}

</table>
