@model HotelManagementSystem.Models.Admin

@{
    ViewBag.Title = "ProfileOfAdmin";
}

<h2>ProfileOfAdmin</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <p>
        @Html.ActionLink("ListOfAdmin", "Index", new { }, new { @class = "btn btn-xs btn-primary" }) |

    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminPassword)
        </dd>
      

    </dl>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Hotels", "Hotels", new { }, new { @class = "btn btn-xs btn-primary" }) |
            </td>

        </tr>
    </table>
</div>

