@model IEnumerable<HotelManagementSystem.Models.Customer>

@{
    ViewBag.Title = "CustomerList";
}

<h2>CustomerList</h2>

<p>
    @Html.ActionLink("Back", "Back", new { }, new { @class = "btn btn-xs btn-primary" })|
    @Html.ActionLink("ReservationList", "ReservationList", new {  }, new { @class = "btn btn-xs btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.HotelName)
            </td>
            <td>
                @Html.ActionLink("Check Out", "CheckOut", new { id = item.CustomerId }, new { @class = "btn btn-xs btn-danger" }) |
                @Html.ActionLink("Check Bill", "Bills", new { id = item.CustomerId }, new { @class = "btn btn-xs btn-primary" }) |
            </td>
        </tr>
    }

</table>
